
#stacks_in_2_page4 {
	border: solid rgba(153, 153, 153, 1.00);
	border-width: 0px 0px 1px 0px;
	margin: 0px 60px 0px 40px;
}

#stacks_in_4_page4 {
	background-color: rgba(255, 255, 255, 1.00);
	padding: 0px 0px 0px 10px;
}

#stacks_in_6_page4 {
	margin: 10px 0px 0px 10px;
}

#stacks_in_10_page4 {
	border: solid rgba(204, 204, 204, 1.00);
	border-width: 0px 0px 1px 0px;
	margin: 40px 60px 0px 40px;
}

#stacks_in_11_page4 {
	background-color: rgba(255, 255, 255, 1.00);
	padding: 0px 0px 0px 10px;
}

#stacks_in_13_page4 {
	margin: 10px 0px 0px 10px;
}
